@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  font-family: "Merriweather", serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 2em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  .navigation {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: rgb(230, 230, 250);

    .navList {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;
        color: rgb(56, 56, 56);
      }

      li:hover {
        font-weight: bold;
      }

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }

  .checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 150px;
    width: 50%;
    height: 600px;
    overflow-y: auto;
    box-shadow: 0px 0px 8px rgb(194, 192, 192);

    .checkoutItems {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
      padding: 1em;

      .productImage {
        max-width: 100px;
      }

      .checkoutButtonContainer {
        display: flex;
        justify-content: center;
        gap: 1em;
        width: 200px;
        padding: 1em;
        border-bottom: 1px solid grey;

        .checkoutButton {
          cursor: pointer;
          padding: 8px 20px;
          border: none;
          color: white;
          background-color: rgb(125, 130, 191);
        }

        .checkoutButton:hover {
          background-color: rgba(125, 130, 191, 0.5);
        }

        .checkoutButton:active {
          background-color: rgba(125, 130, 191, 0.8);
        }
      }
    }
  }
}

.cartPayment {
  cursor: pointer;
  padding: 12px 45px;
  border: solid white;
  color: white;
  background-color: rgb(210, 135, 133);
}

.cartPayment:hover {
  background-color: rgba(210, 135, 133, 0.5);
}

.cartPayment:active {
  background-color: rgba(210, 135, 133, 0.8);
}
