*{
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*
#app {

}
*/

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  width: 100%;
  height: 100px;
  z-index: 100;

  .navList {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border: solid black;
    list-style: none;
  
    
  }
}

.cartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: relative;
}

.popup {
  top: 0;
  right: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  border: solid red;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#productContainer{
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: solid black;
  width: 70%;
  padding: 1em;

  .itemContainer{
    padding: 1em;
    border: solid black;
    display:flex;
    flex-direction: column;
    gap: 0.5em;

    .productImage {
      width: 200px;
      border: 2px solid black;
      padding: 1em;
    }

    button {
      padding: 8px 15px;
      
      width: 100px;
    }
  }
}


.cartProductImage{
  max-width: 100px;
}

.cartItemContainer{
  border: 2px solid black;
}

.display {
  position: fixed;
  top: 100px;
  right: 0;
  width: 500px;
  height: 500px;
  border: 4px solid blue;
  //background-color: white;
  z-index: 900;
  overflow-y: scroll;
  transition: right 0.3s ease-in-out;
}

.hidden {
 position: absolute;
 top: 100;
 right: -500%;
 transition: right 0.3s ease-in-out;

}

