*{
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
}

/*
#app {

}
*/

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid black;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color:rgba(230, 230, 250, 0.753);

  .navList {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    // border: solid black;
    list-style: none;

    li {
      cursor: pointer;
    }
    
  }
}


.navList li:hover {
  font-weight: bold;
}

.cartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.popup {
  top: 0;
  right: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  border: solid red;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#productContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  width: 80%;
  padding: 1em;

  .itemContainer{
    padding: 1em;
    border: 1px solid black;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    box-shadow: 0px 0px 10px rgb(194, 192, 192);
    text-align: center;

    .productImage {
      width: 90%;
      height: 250px;
      vertical-align: middle;
      border: 1px solid grey;
      padding: 1em;
      border-radius: 8px;
      object-fit: contain;
      
    }

    button {
      padding: 8px 15px;
      
      width: 100px;
    }
  }
}


.cartProductImage{
  max-width: 100px;
}

.cartItemContainer{
  border-bottom: solid black;
}

.display {
  position: fixed;
  top: 100px;
  right: 0;
  width: 500px;
  height: 500px;
  border: solid black;
  border-radius: 8px;
  background-color: white;
  z-index: 900;
  overflow-y: scroll;
  transition: right 0.3s ease-in-out;
}

.hidden {
 position: absolute;
 top: 100;
 right: -500%;
 transition: right 0.3s ease-in-out;

}

#addToCartButton {
  cursor: pointer;
}

